body {
    font-size: 18px;
    font-family: Arial, sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 25px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    /* Espacer les éléments horizontalement */
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 7%;
}

.titre {
    vertical-align: bottom;
    cursor: pointer;
    color: rgb(0, 0, 112);
    font-size: 15px;
    font-weight: bold;
}

.titre:hover {
    color: black;
}

.bg {
    background-color: gray;
    padding-top: 45px;
    padding-bottom: 45px;
}

.feuille {
    background-color: aliceblue;
    padding: 150px;
    padding-top: 30px;
    max-width: 60%;
    margin: auto;

}

.propos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.moi {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

.moitie2 {
    width: 70%;
}

.imagee {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.ouverture {
    height: 300px;
    width: 100%;
    background-color: transparent;
}

.progressContainer {
    background-color: grey;
    width: 100%;
    height: 5px;
    margin-bottom: 45px;
    margin-top: 10px;

}

.progressBar {
    background-color: blue;
    height: 100%;
    width: 70%;
}

.progressBarGroup {
    margin-left: 30px;
}


.entier {
    width: 100%;
    display: flex;
    margin-top: 15px;
}

.moitie {
    width: 49%;
}


.topProgressBarContainer {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}


.bot {
    height: 100px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 30px;
    height: 30px;
}

.liTitre {
    margin-bottom: 20px;
}