body {
    font-size: 23px;
    font-family: ui-rounded;
}

.navbar {
    display: flex;
    justify-content: space-around;
    /* Espacer les éléments horizontalement */
    align-items: center;
}

.titre {
    vertical-align: bottom;
    cursor: pointer;
}

.bg {
    background-color: gray;
    padding: 30px;
}

.feuille {
    background-color: aliceblue;
    padding: 150px;
    max-width: 60%;
    margin: auto;

}

.propos {
    margin-top: 45px;
    margin-bottom: 75px;
}

.imagee {
    height: 700px;
    background-color: yellow;
}

.moi {
    height: 100px;
    width: 100px;
}

.progressContainer {
    border-color: black;
    border: 3px solid;
    width: 60%;
    height: 5px;
}

.progressBar {
    background-color: red;
    height: 100%;
    width: 70%;
}

.moitie {
    width: 49%;
}

.entier {
    width: 100%;
    display: flex;
}

.moitie2 {
    width: 500px;
}

.propos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}